.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	position: relative;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.wpcf7-list-item {
	display: block;
}
.wpcf7-checkbox {
	.wpcf7-list-item {
		display: inline-block;
	}	
}
.wpcf7cf_multistep {
	.wpcf7cf_steps-dots {
		.dot {
			display: none;
			&.active {
				display: block;
			}
		}
	}
}

/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popuptext {
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: fixed;
	z-index: 1;
	bottom: 5%;
	right: 5%;
	#close {
		display: none;
		position: absolute;
		padding: 5px;
		right: 10px;
		top: 0;
		cursor: pointer;
		font-size: 1.5rem;
	}
	#contact {
		cursor: pointer;
	}
	textarea {
		width: 95%;
	}
  }
  
  /* Popup arrow */
  .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }
 
.wpcf7 .ajax-loader {
	display: none;
}

#prijsindicatie {
	text-align: center;
    background-color: white;
    padding: 0.5rem;
	display: none;
}

@media screen and (min-width: 37.5em) {

	.wpcf7cf_multistep {
		.wpcf7cf_steps-dots {
			.dot {
				display: block;
				&.active {
					display: block;
				}
			}
		}
	}
}