.main-navigation {
	display: flex;
	width: 100%;
	padding: 2rem;
	background-color: #ffffff;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		padding: 0 1rem;
		font-size: 0.9rem;
		letter-spacing: 1px;
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
	.menu-top-menu-container {
		width: calc(100% - 130px);
	}
}
/* Small menu. */
#openMobileMenu {
	border: 0 none;
	width: 60px;
	height: 50px;
	background-color: transparent;
	padding: 0;
	position: absolute;
	left: 10px;
	top: 20px;
	display: block;
	.toggle-line {
			width: 30px;
			height: 2px;
			background-color: $color__text-main;
			margin: 7px auto;
	}
}

.site-header, .modal-content {
	#social {
		
		.social-icon {
			width: 12px;
			margin: 0 10px;
		}
	}
}
.site-header {
	#social {
		width: 120px;
		justify-content: flex-end;
		display: none;
	}
}
.modal-content {
	#social {
		justify-content: center;
		display: flex;
		margin-top: 1rem;
		align-items: flex-end;
		.social-icon {
			width: 20px;
		}
	}
}
@media screen and (min-width: 37.5em) {
	.site-header {
        #social {
            display: flex;
        }
    }

	#openMobileMenu {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		width: calc(100% - 130px);
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
