.site-header {
    margin-bottom: 2rem;
    .site-branding {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin-top: 2rem;
        .site-title {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
            a {
                text-decoration: none;
            }
        }
        .site-description {
            text-align: center;
            margin-top: 0;
        }
    }
    

}
