.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
	main {
		max-width: 680px;
		margin: 0 auto;
		padding: 2rem 2rem 100px 2rem;
	}
	footer {
		width: 100%;
		margin: 0 auto;
		position: fixed;
		bottom: 0;
		background-color: #ffffff;
		.site-info {
			max-width: 680px;
			margin: 0 auto;
			padding: 1rem;
			font-size: 1rem;
			text-align: center;
		}
	}
}
